h1 {
  display: flex;
  justify-content: center;;
  padding: 60px;
  transition: font-size 1s linear;
}

h2 {
  display: flex;
  justify-content: center;;
  transition: font-size 1s linear;
}

.comp {
  display: flex;
  justify-content: left;;
  transition: font-size 1s linear;
}

.computer-Container {
  display: flex;
  flex-direction: row;
}

img{
  width: 400px;
  border: solid darkgoldenrod;
}



h1:hover{font-size: 38px}

main {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  font: 16px/1.4 system-ui, sans-serif;
  padding: 1rem;
}
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #21bae9a9;
  display: grid;
  place-items: center;
  padding: 50px;
}
* {
  box-sizing: border-box;
}
/* body {
  margin: 0;
} */

.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0, 0.15);
}
.content-table th{
  background-color: #009879;
  color: white;
  text-align:left;
}

.content-table th,
.content-table td{
  padding: 12px 15px;
}

.content-table tr{
  border-bottom:1px solid #dddddd;
}

.content-table tr:nth-last-of-type(even){
  background-color: #f3f3f3;
}

.content-table tr:last-of-type{
  border-bottom: 2px solid #009879;
}


