h1 {
  display: flex;
  justify-content: center;;
  padding: 60px;
  transition: font-size 1s linear;
}

h2 {
  display: flex;
  justify-content: center;;
  transition: font-size 1s linear;
}

.comp {
  display: flex;
  justify-content: left;;
  transition: font-size 1s linear;
}


h1:hover{font-size: 38px}

main {
  min-height: 100vh;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  font: 16px/1.4 system-ui, sans-serif;
  padding: 1rem;
}
footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #21bae9a9;
  display: grid;
  place-items: center;
  padding: 50px;
}
* {
  box-sizing: border-box;
}
/* body {
  margin: 0;
} */




